.main-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  height: 100vh;
}

h1 {
  font-family: "Rancho";
  color: #454545;
  font-size: 4em;
}

.main-field {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.input-wrap {
  background-color: white;
  width: 100%;
  height: 3em;
  border-radius: 5px;
  box-shadow: 3px 5px -3px rgb(0 0 0 / 12%),
    inset 2px 2px 2px -1px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #454545;
  margin-bottom: 0.6em;
}

.component-input {
  width: 400px;
}

.component-input select {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
  padding: 5px;
}

.component-input.color input {
  width: 90%;
  border: none;
  background-color: none;
  outline: none;
  padding: 2px;
}

.component-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
  padding: 5px;
}

.theme {
  width: 700px;
  height: 500px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-wrapper {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.img-colors {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 5em;
  margin-bottom: 1em;
}

img {
  height: calc(100% - 1em);
  border-radius: 5px;
}

.color-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.colors {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color {
  height: 60px;
  width: 60px;
  background-color: rgb(19, 19, 114);
  border-radius: 5px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 1.1em;
  transition: 0.3s ease;
}

button:enabled {
  cursor: pointer;
}

button:hover:enabled {
  background-color: #454545;
  color: aliceblue;
}

.text {
  margin: 20px;
}

pre code {
  background-color: #eee;
  display: block;
  min-width: 300px;
  max-width: 600px;
  overflow-y: scroll;
  padding: 5px;
  font-size: 0.9em;
  font-family: "Source code pro";
}

.error {
  border: 1px solid crimson;
}

.error-msg {
  color: crimson;
  font-size: 0.8em;
  margin-top: -0.9em;
}

@media only screen and (max-width: 1040px) {
  .main-wrapper {
    flex-direction: column;
    height: auto;
    padding: 50px;
  }

  .main-field {
    height: 500px;
  }
}

@media only screen and (max-width: 750px) {
  h1 {
    margin-bottom: 10px;
  }

  .theme {
    max-width: 100%;
  }

  .theme-wrapper {
    width: 100%;
    padding: 5px;
  }

  .colors {
    width: 100%;
    margin: 1em;
  }

  .text {
    margin-top: 2em;
  }

  .code {
    max-width: 100%;
  }
  .pre code {
    max-width: 100%;
  }
}

@media only screen and (max-width: 585px) {
  .img-colors {
    margin: 1em;
    flex-direction: column;
    max-height: 200px;
    align-items: center;
    justify-content: center;
  }

  img {
    height: 5em;
  }
}

@media only screen and (max-width: 450px) {
  .main-wrapper {
    padding: 5px;
  }

  .main-field {
    width: 90%;
  }

  form {
    width: 100%;
  }
}

@media only screen and (max-width: 340px) {
  pre code {
    min-width: 100%;
  }
  .buttons {
    flex-direction: column;
    height: 4em;
    margin-bottom: 2em;
  }
}
